<html>
<html lang="en">

<head>
  <!--- LINKS --->
  <link rel="stylesheet" type="text/css" href="css/main_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
  <!--- META settings --->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--- Title --->
  <title>Pradnya Kanale's Task</title>
</head>


<body>
  <div class="heading" >
    <h2>Astronomia : Infotainment for astrogeeks!</h2>
  </div>
  <div class="container">
    <div class="login_account">
      <h2>Account login <i class="fa fa-rocket"></i></h2>
    </div>
    <form class="form" action="/login" method="post" required>
      <div class="box">
        <i class="fas fa-user-astronaut"></i> <input type="text" name="username" placeholder="Enter your username"
          required>
      </div>
      <div class="box">
        <i class="fa fa-lock"></i> <input type="password" name="password" placeholder="Enter your password"
          minlength="9" maxlength="16" required>
      </div>
      <button class="bttn" type="submit">Sign In <i class="fa fa-sign-in"></i></button>
    </form>
    <div class="newUser">
      Don't have an account? <a href="registration.html"><button class="user"> Register here </button></a>
    </div>
  </div>
  <div class="center">
    <footer><i class="fa fa-copyright"></i> 2022 Pradnya Kanale</footer>
  </div>
  <script src="https://kit.fontawesome.com/96d0ce680b.js" crossorigin="anonymous"></script>
</body>

</html>