<html>
<html lang="en">

<head>
  <!--- LINKS --->
  <link rel="stylesheet" type="text/css" href="css/registration_style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
  <!--- META settings --->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--- Title --->
  <title>Registration Page</title>
</head>


<body>
  <div class="heading">
    <h2>Astronomia : Infotainment for astrogeeks!</h2>
  </div>
  <div class="container">
    <div class="login_account">
      <h1><i class="fa fa-user-circle"></i> User registration</h1>
    </div>
    <form class="form" action="/register" method="post">
      <div class="box">
        <i class="fa fa-user-plus"></i><input type="username" name="username" placeholder="Enter unique username"
          required>
      </div>
      <div class="box">
        <i class="fa fa-key"></i><input type="password" name="password" placeholder="Set new password" required>
      </div>
      <a href="HTML/profile.html"><button class="bttn">Profile <i class="fa fa-sign-in"></i></button></a>
    </form>
  </div>

  <div class="center">
    <footer><i class="fa fa-copyright"></i> 2022 Pradnya Kanale</footer>
  </div>
  <script src="https://kit.fontawesome.com/96d0ce680b.js" crossorigin="anonymous"></script>
</body>


</html>